@model OrderModel


@{
    ViewData["Title"] = "Order confirmation";
}

<div class="text-center">
    <h3>Price for your order is: @Model.Price$!</h3>
    @using (Html.BeginForm("OrderConfirmation", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.PhoneNum)

        <a asp-controller="Home" asp-action="Index">Go back</a>
        <input type="submit" value="Yes Confirm" />
    }
</div>
